<a href="https://colab.research.google.com/github/samarthya04/AI_Lab/blob/main/lab5_2205498.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Evaluation Questions

1. Swap two elements in a list

In [1]:
def swap_elements(l, pos1, pos2):
  l[pos1], l[pos2] = l[pos2], l[pos1]
  return l

my_list = [1, 2, 3, 4, 5]
print(swap_elements(my_list, 1, 3))

[1, 4, 3, 2, 5]

2. Find the length of a list

In [2]:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(f"Length: {length}")

Length: 5

3. Check if element exists in a list

In [3]:
my_list = [1, 2, 3, 4, 5]
element = 3
if element in my_list:
  print(f"{element} exists in the list")

3 exists in the list

4. Clear a list

In [4]:
my_list = []

In [5]:
my_list.clear()

5. Reversing a list

In [6]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

6. Find sum of elements in a list

In [7]:
my_list = [1, 2, 3, 4, 5]
sum = 0
for element in my_list:
  sum += element
print(f"Sum: {sum}")

Sum: 15

7. Multiply all number in a list

In [8]:
my_list = [1, 2, 3, 4, 5]
prod = 1
for element in my_list:
  prod *= element
print(f"Product: {prod}")

Product: 120

8. Find smallest number in a list

In [9]:
my_list = [54, 23, 87, 12, 45]
min = my_list[0]
for element in my_list:
  if element < min:
    min = element
print(f"Smallest number: {min}")

Smallest number: 12

9. Find largest number in a list

In [10]:
my_list = [54, 23, 87, 12, 45]
max = my_list[0]
for element in my_list:
  if element > max:
    max = element
print(f"Largest number: {max}")

Largest number: 87

10. Find the second largest number in the list

In [11]:
my_list = [54, 23, 87, 12, 45]
max = my_list[0]
second_max = my_list[0]
for element in my_list:
  if element > max:
    second_max = max
    max = element
  elif element > second_max:
    second_max = element
print(f"Second largest number: {second_max}")

Second largest number: 54

# Lab Assessment