<a href="https://colab.research.google.com/github/samarthya04/AI_Lab/blob/main/Lab_1_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [2]:
name = "Samarthya"
age = 20

print("Name: ", name)
print("Age: ", age)

Name:  Samarthya
Age:  20

In [3]:
x = "Samarthya" #string
x = 50 #integer
x = 60.5 #float
x = 3j #complex
x = [1, 2, 3] #list
x = (1, 2, 3) #tuple
x = {"name": "Samarthya", "age": 20} #dict
x = {1, 2, 3, 4} #set
x = True #bool
x = b"Geeks" #binary

In [4]:
x = 0b1010 #binary
print(x)
x = 10
print( bin (x))

10
0b1010

In [5]:
val = input("Enter your value: ")
print("Value entered:", val)

Enter your value: 74
Value entered: 74

In [6]:
a = 9
b = 4

add = a + b
print(f"Addition {a} and {b}: ", add)

sub = a - b
print(f"Subtraction {b} from {a}: ", sub)

mul = a * b
print(f"Multiplication {a} and {b}: ", mul)

div = a / b
print(f"Quotient of Division {a} by {b}: ", div)

mod = a % b
print(f"Remainder of Division {a} by {b}: ", mod)

exp = a ** b
print(f"{a} raised to the power {b}: ", exp)

floor = a // b
print(f"Quotient(Floor value) of Division {a} by {b}: ", floor)

Addition 9 and 4:  13
Subtraction 4 from 9:  5
Multiplication 9 and 4:  36
Quotient of Division 9 by 4:  2.25
Remainder of Division 9 by 4:  1
9 raised to the power 4:  6561
Quotient(Floor value) of Division 9 by 4:  2

In [7]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

In [8]:
a = 10
b = 4

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

In [9]:
i = 20

if(i < 15):
  print("i is smaller than 15")

else:
  print("i is greater than 15")

i is greater than 15

In [10]:
i = 20
if (i == 10):
  print("i is 10")
elif (i == 15):
  print("i is 15")
elif (i == 20):
  print("i is 20")
else:
  print("i is not present")

i is 20

In [11]:
for i in range(0, 10, 3):
  # equivalent to for(int i = 0; i < 10; i+=3)
  print(i)

0
3
6
9

In [12]:
count = 0
while (count < 3):
  count = count + 1
  print(f"Hello{count}")

Hello1
Hello2
Hello3

In [13]:
#Odd-Even
def even_odd(x):
  if (x % 2 == 0):
    print("even")
  else:
    print("odd")

even_odd(2)
even_odd(3)

even
odd

In [14]:
# Maximum of two numbers
def maxNum(a, b):
  if (a >= b):
    return a
  else:
    return b

print(f"Greater number is = {maxNum(10, 20)}")

Greater number is = 20

In [15]:
#Fibonacci Nth number
def fibonacci(n):
  if n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)

print(fibonacci(10))

34

In [16]:
# Sum of Array

def sumArray(arr):
  sum = 0
  for i in arr:
    sum = sum + i
  return sum

arr = [1, 2, 3, 4, 5]
print(f"Sum of Array = {sumArray(arr)}")

Sum of Array = 15

In [17]:
# Prime Number

def prime_in_range(x, y):
  for i in range(x, y + 1):
    if i > 1:
      for j in range(2, i):
        if (i % j == 0):
          break
      else:
        print(i)

prime_in_range(0, 100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [18]:
# Palindrome


def reverse(s):
  rev = ""
  for i in range(len(s)-1, -1, -1):
    rev = rev + s[i]
  return rev

def isPalindrome(s):
  rev = reverse(s)
  if (s == rev):
    return True
  return False

isPalindrome("madam")

True

In [18]:
# Bubble Sort

def bubble_sort(arr):
  for i in range(len(arr)):
    for j in range(0, len(arr) - i - 1, 1):
      if (arr[j] > arr[j + 1]):
        temp = arr[j]
        arr[j] = arr[j + 1]
        arr[j + 1] = temp